 <div class="container">
        <button id="backButton" data-role="{{user.role}}" class="btn btn-primary">Return</button>
        <br>
        <br>
        <h2>Create Product</h2>
        <h5>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
            </svg>  
            To create a product, fill in the fields and press CREATE
        </h5>
        <br>
        <form id="productForm" action="/api/products" method="POST">
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" required>

            <label for="description">Descripción:</label>
            <input type="text" id="description" name="description" required>

            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" step="0" required>

            <label for="code">Código:</label>
            <input type="text" id="code" name="code" required>

            <label for="stock">Stock:</label>
            <input type="number" id="stock" name="stock" step="0" required>

            <label for="category">Categoría:</label>
            <input type="text" id="category" name="category" required>

            <label for="thumbnail">URL del Thumbnail:</label>
            <input type="text" id="thumbnail" name="thumbnail" required>

            <input type="hidden" id="email" name="email" value="{{user.email}}">

            <button type="submit" class="btn btn-primary">CREATE</button>
        </form>

        <div id="message" class="message" style="display:none;"></div>
    </div>

    <script>
        document.getElementById('productForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);
            const data = Object.fromEntries(formData.entries());
            const messageDiv = document.getElementById('message');

            try {
                const response = await fetch(form.action, {
                    method: form.method,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                const result = await response.json();
                if (response.ok) {
                    alert('Producto creado correctamente');
                    window.location.reload(); 
                } else {
                    messageDiv.className = 'message error';
                    messageDiv.textContent = 'Error al crear el producto: ' + result.message;
                }
            } catch (error) {
                messageDiv.className = 'message error';
                messageDiv.textContent = 'Error al crear el producto: ' + error.message;
            }

            messageDiv.style.display = 'block';
        });

        document.addEventListener('DOMContentLoaded', () => {
            const backButton = document.getElementById('backButton');
            const userRole = backButton.getAttribute('data-role');

            backButton.addEventListener('click', () => {
                if (userRole === 'admin') {
                    window.location.href = '/products/productsPanel';
                } else if (userRole === 'usuario') {
                    window.location.href = '/products';
                } else {
                    console.error('Rol de usuario no válido');
                }
            });
        });

    </script>

 <style>
        .container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .message {
            margin-top: 20px;
            padding: 10px;
            border-radius: 5px;
        }
        .success {
            background-color: #d4edda;
            color: #155724;
        }
        .error {
            background-color: #f8d7da;
            color: #721c24;
        }

        form label {
            display: block;
            margin-bottom: 5px;
        }

        form input {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .button {
            display: inline-block;
            padding: 10px 15px;
            border-radius: 4px;
            text-align: center;
            text-decoration: none;
            font-size: 0.875rem;
            color: #fff;
            transition: background-color 0.3s, transform 0.2s;
        }

        .button.edit {
            background-color: #007bff;
        }
    </style>